// font colors
primary_font_color = #333
secondary_font_color = #666
tertiary_font_color = #bbb

// accent colors
primary_accent_color = #f2f2f2

// font-family
font-family = "ProximaNova", sans-serif

// font-size
font-size = 14px

// line-height
line-height = 1.5